body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: blue;
}

img {
    max-width: 100%;
}

. parent-wrapper {
    width: 80%;
    max-width: 750px;
    padding: 0 35px ;
    margin: 0 auto;
}

.parent-wrapper .container {
    text-align: center;
}

.parent-wrapper .dots-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.share-icon {
    display: none;
}

.parent-wrapper .imgdiv img{
    border-radius: 100%;
}


.parent-wrapper .container .links-wrapper {
    
    display: flex ;
    flex-direction: column;
    padding: 15px;
}

.parent-wrapper .container .links-wrapper .link-content{
    background-color:#eaecf0 ;
    border-radius: 9px;
    margin: 20px 0;
    padding: 30px 35px;
}
.parent-wrapper .container .links-wrapper .link-content a {
    text-decoration: none;
    color: black; 
}

.parent-wrapper .container .social-icons{
    margin-bottom: 35px;
}

.parent-wrapper .container .social-icons .img-slack{
    margin-right: 14px;
}

.kodecamp-assets {
    padding: 20px;
}
.kodecamp-assets .kodecamp-assets-img2{
    width: 80px;
    display: inline-block;
}
p {
    color : #c0c9d0;
}

/* ######## ----- media query for tablet and above ----- ####### */
@media (min-width: 760px) {
 .dots-div .dot-icon{
     display: none;
 }
 .dots-div .share-icon {
     display: block;
 }
 .kodecamp-assets {
     display: flex;
     justify-content : space-between;
 }
}
